 body{
    justify-content: center;
 }
 .main{
    width: 61%;
    height: 100vh;
    background-color: rgb(108, 107, 107);
    padding:0px 0px 0px 590px  ;
    color: white;


 }
 .body{
    background-color: black;
    height: 600px;
    width: 490px;
    position: absolute;
    margin: 50px 0px 0px -35px;
 }
 .deposit{
   background-color: rgba(103, 103, 103, 0);
   display: flex;
   
    
 }
 .deposit h4{
   margin-right: 20px;
   
 }
  .deposit1{
   margin-right: 60px;
  }
  button{
    height: 25px;
    width:76px;
    text-align: center;
    font-weight: bolder;
  }
  input{
    height:30px;
  }
  .welcom{
    background-color: rgba(255, 0, 0, 0);
    width: 400px;
    text-align: center;
    margin-left: -0;
    font-weight: bold;
  }
  .box1
  {
    border: 2px solid black;
    width: 410px;
  height: 145px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin: 0px 0px 0px 30px;
    border: 1px solid #D4AF37;
    text-align: center;
    border-radius: 20px;
    
  }
  .box1 button{
    height: 40px;
    width: 406px;
    position: absolute;
    margin: 10px 0px 0px -206px;
    font-weight: bolder;
    font-size: larger;
    border-radius: 10px;

  }
  .box1 input{
       margin: 0px 0px 0px 0px;
    height: 40px;
    width: 406px;
    border-radius: 10px;

  }
  .deposit
  {
    border: 2px solid black;
    width: 410px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin: 0px 0px 0px 30px;
    border: 1px solid #D4AF37;
    border-radius: 20px;



    
  }
  .div2
  {
    border: 2px solid black;
    width: 410px;
    padding-left: 15px;
    padding-bottom: 15px;
     margin: 0px 0px 0px 30px;
    border: 1px solid #D4AF37;
    border-radius: 20px;

    
  }
  .deposit button{
   height: 37px;
    width: 171px;
    font-size: larger;
    border-radius: 10px;
  }
   .deposit input{
    border-radius: 10px;

   }
  /* .div2 p{
       margin: -40px 0px 0px 175px;
    height: 50px;
    background: rgb(248, 247, 245);
    text-align: center;
    padding-top: 20px;
    color: black;
  } */
   .div2 p{
       margin: -60px 0px 0px 240px;
       font-size: 20px;

   }
   .div2 button{
       height: 40px;
    width: 175px;
     font-size: larger;
    border-radius: 10px;
    margin-top: 20px;


   }
   .div2 h3{
    font-size: px;
    margin-left: 20px;


   }
  .but{
    height: 25px;
    width: 120px;
  }